.lotto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.lotto__text {
  font-size: 30px;
  font-weight: 600;
}

.lotto__textBonus {
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
}

.lotto__btn {
  margin-top: 40px;
  border-radius: 30px;
  border: 2px solid black;
  outline-width: 0px;
  cursor: pointer;
  width: 100px;
}
