.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  align-items: center;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 60px;
  object-fit: contain;
  border-radius: 50px;
  align-items: center;
}

.nav__mail {
  position: fixed;
  right: 20px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.nav__mail:hover {
  color: lightgray;
}

.nav > p {
  position: fixed;
  color: white;
  right: 20px;
  top: 45px;
}
