.screen {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.screen__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.screen__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.screen__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.screen__headerInfo > p {
  color: gray;
}
